@model CinemaManagment.Models.Filma_Salla
@{
    ViewBag.Title = "ShtoEvent";
}

@Html.Partial("~/Views/Shared/ManagerLayout.cshtml")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Shto nje event ne nje salle te caktuar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id_Filmi, "Zgjidh Filmin", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Filmi", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Filmi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Orari, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Orari, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Orari, "Orari duhet te jete ne formatin MM/DD/YYYY HH:MM:SS", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Shto Event" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Kthehu Mbrapa", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@Html.Raw(TempData["msg2"])
@Html.Raw(TempData["rezsuccess"])