@model IEnumerable<CinemaManagment.Models.Rezervimi>

@{
    ViewBag.Title = "Rezervim";

}
@Html.Partial("~/Views/Shared/AdminLayout.cshtml")
<h2>Shiko Rezervimet</h2>


<table class="table">
    <tr>
        <th>
            Id Rezervimi
        </th>
        <th>
            Titulli i Filmit
        </th>
        <th>
            Emer Perdoruesi
        </th>
        <th>
            Salla
        </th>
        <th>
            Orari
        </th>
        <th>
            Statusi
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Rezervim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filma_Salla.Filmi.Titulli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perdorue.Emer)
                @Html.DisplayFor(modelItem => item.Perdorue.Mbiemer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vendi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orari)
            </td>
            <td>
                @if (item.Anulluar == true)
                {
                    @Html.LabelFor(modelItem => item.Anulluar, "Anulluar")
                }
                else if (item.Refuzuar == true)
                {
                    @Html.LabelFor(modelItem => item.Refuzuar, "Refuzuar")

                }
                else
                {
                    @Html.LabelFor(modelItem => item.statusi, "Aktiv")
                }
            </td>

        </tr>
    }

</table>
